@import url(https://fonts.googleapis.com/css?family=Vazirmatn);
@import "tailwindcss";

* {
  font-family: "Vazirmatn";
  direction: rtl;
}

body {
  font-family: "Vazirmatn", sans-serif;
  text-align: right;
}

.font-vazir {
  font-family: "Vazirmatn", sans-serif;
}

@theme {
  --color-yellow-back: #ffecb3;
  --color-yellow-400: #fbbf24;
  --color-yellow-500: #f59e0b;
  --color-yellow-100: #fef3c7;
  --color-yellow-200: #fde68a;
  --color-yellow-800: #92400e;
}
